@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     color: white;
     /* background: #030B16; */
}
body{
    background: #030B16;
}
a{
    text-decoration: none;
}
header{
    height: 115px;
    display: flex;
    justify-content: space-between;
    padding:0 130px;
}
.logo{
    padding-top: 20px;
 font-family: Open Sans;
font-style: normal;
font-weight: 800;
font-size: 46px;
line-height: 63px;
color: #FFFFFF;
}
nav{
    display: initial;
}
nav>ul{
    display: flex;
    list-style-type: none;
}
nav>ul>li{
    padding-top: 37px;
     padding-right:43px;
  
 

font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;
}

.body-content{
    padding-left: 130px;
    padding-right: 130px;
 }
 .slider{
    padding-top: 100px;
 }
 .slider>.welcome{
     font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
     color: #D706DB;
 }

 .slider>h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 95px;
    
    color: #FFFFFF;
 }
 .slider>.details{
   font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
    color: #D706DB;
    
 }
 .slider>.social-icons{
     padding-top: 15px;
   display: flex;
   list-style-type: none;
   width: 146px;
height: 33px;
 }
 .slider>.social-icons>li{
    padding-right: 15px;
    
 }
 /* .slider>ul>li{
   background: #FEFEFE;
    margin: 0px 15px;
 } */

 .btn-get-resume{
     width: 150px;
    height: 60px;
     border: none;
    background: #D706DB;
    border-radius: 6px;
 
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
 }
 .btn-about-me{
    background: #030B16;
    position: absolute;
    width: 150px;
    height: 60px;
     border: 2px solid #D706DB;
    box-sizing: border-box;
    border-radius: 6px;
 font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
margin-left: 20px;
 }

 .button-group{
   padding-top: 11px;
    width: 319px;
    height: 73px;
 
 }

 .nav-menu{
     
position: relative;
width: 40px;
height: 40px;
background: #D706DB;
border-radius: 5px;
border: none;
 }
 .nav-menu>i{
    background: #D706DB;
    font-size: 24px;
    color:white
    
 }
 .nav-menu{
    position: absolute;
   top:-100px;
}

.show{
    display: initial;
}
.hide{
    display: none;
}

 /* media query */
 @media only screen and (max-width: 600px) {
    header{
        padding: 0 0px;
        height: 84px;
        display: flex;
        justify-content: space-between;
    }
    .logo{
    padding-top: 29px;
    padding-left: 32px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    }
    nav{
          position: fixed;
          padding: 20px;
          display: none;
         flex-basis: 100%;
        right: 20px;
          left: 20px;  
        top: 73px;
        background: #091B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

     }
     nav>ul{
         display: flex;
         flex-direction: column;
     }
     nav>ul>li{
         padding: 10px 10px;
         font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
         color: #FFFFFF;
     }
    .nav-menu{
        position: absolute;
        /* margin-top: 20px;
        margin-right: 20px; */
        top:20px;
        right: 20px;
    }
    .body-content{
        padding-left: 5px;
        padding-right: 5px;
     }
     .slider{
        width: 100%;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .slider>.welcome{
       padding-top: 48px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        
        color: #D706DB;
     }
    
     .slider>h1{
      padding-top: 5px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        
        color: #FFFFFF;
     }
     .slider>.details{
        padding-top: 5px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #D706DB;
        
     }
     .slider>.social-icons{
         padding-top: 10px;
       display: flex;
       list-style-type: none;
     }
     .slider>.social-icons>li{
        padding:5px 10px;
        
     }
     /* .slider>ul>li{
       background: #FEFEFE;
        margin: 0px 15px;
     } */
    
     .btn-get-resume{
  width: 116px;
        height: 41px;
         background: #D706DB;
        border-radius: 6px;
     
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
     }
     .btn-about-me{
        position: absolute;
width: 112px;
height: 41px;
border: 2px solid #D706DB;
box-sizing: border-box;
border-radius: 6px;
     font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
     }
    
     .button-group{
       padding-top: 20px;
       width: 245px;
       height: 57px;
     
     }
    
     .nav-menu{
         
    position: relative;
    width: 40px;
    height: 40px;
    background: #D706DB;
    border-radius: 5px;
    border: none;
     }
     .nav-menu>i{
        background: #D706DB;
        font-size: 24px;
        color:white
        
     }
    
  }